/*****************************
*コスモスターズ用 css
*方針が決まり次第、別途その他のCSSに追記予定
*
*
*
*****************************/

/*************************
*共通項目(common.css追記事項)
**************************/
select.txt_w120 {
	-webkit-appearance: menulist-button;
	padding: 0 10px;
	width: 120px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button.btn-2{
	background: #2f866f url(../images/arrow_02.png) no-repeat right 30px center;
	width: 170px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: white;
}


/*************************
*健康外来サロン(health-)
**************************/


/*************************
*サロンメニュー(personal-)
**************************/


/*************************
*チェックテスト(check-)
**************************/
.check-header {}
.check-main,
.map-main{
	width: 690px;
	display: inline;
	text-align: center;
}
.check-main .post .tit03{
	text-align: center !important;
}

.check-main .post table th,
.check-main .post table td{
	width: 10%;
}
.check-main .post table td:nth-child(2){
	width: 60%;
	text-align: left;
}
.check-content {
	margin: 0 auto;
	padding: 42px 0 100px 0;
	width: 670px;
}

.check-main input[type="radio"]{
	-webkit-appearance: radio ;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	margin-right: 1.5em;
	border: 1px solid black;
	padding: 5px;
}
.check-main input[type="radio"]:checked{
	padding: 5px;
}
.check-main .post .btn-1{
	width: 170px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	background: url("../images/arrow_05.png") no-repeat 130px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.check-resutl-table{
	position: relative;
}
.check-result-table2 table{
	width: 48%;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.check-result-table2 table td:first-child{
	width: 30%;
}

/*************************
*地図
**************************/
