/*************************
*共通
**************************/

/*** 緑2 ***/
.green2{ color: #015f4f }
.green3{ color: #2f866f }

/*** リストの背景削除 ***/
.post ul.bg-none li{ background: none }

/***ブロック化対応 ***/
.is-block{ display: block }

/***テーブル中央寄せ ***/
.post table.tb02 tr th.is-table-text-center,
.post table.tb02 tr td.is-table-text-center,
.post table.tb01 tr th.is-table-text-center,
.post table.tb01 tr td.is-table-text-center{
	vertical-align: middle;
}

/*** border-bottom削除 ***/
.post table.tb01 th.table-bottom-none,
.post table.tb01 td.table-bottom-none,
.post table.tb02 th.table-bottom-none,
.post table.tb02 td.table-bottom-none{
	border-bottom: none;
}

/*** border-right削除 ***/
.post table.tb01 th.table-right-none,
.post table.tb01 td.table-right-none,
.post table.tb02 th.table-right-none,
.post table.tb02 td.table-right-none{
	border-right: none;
}

/*** border-right付与 ***/
.post table.tb01 th.table-bottom,
.post table.tb01 td.table-bottom,
.post table.tb02 th.table-bottom,
.post table.tb02 td.table-bottom{
	border-bottom: 2px solid #2f866f;
}

.post table.tb01 th.table-right,
.post table.tb02 th.table-right,
.post table.tb01 td.table-right,
.post table.tb02 td.table-right{
	border-right: 2px solid #2f866f;
}

#main.post-main{
	text-align: center;
	float: none;
	position: relative;
}
#main.post-main.is-center{
	display: block;
	margin-right:auto;
	margin-left: auto;
}

#main.post-main .post .tit03{
	text-align: center;
}

/*** ラジオボタンデフォルトを使用 ***/
#main.post-main input[type="radio"]{
	-webkit-appearance: radio ;
	margin-right: 1.5em;
}

/*** 以下ボタンシリーズ ***/
.btn-1{
	width: 200px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	background: url("../images/arrow_05.png");
	background-position: center right 15px;
	background-repeat: no-repeat;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.btn-2{
	background: #2f866f url(../images/arrow_02.png) no-repeat center right 15px;
	width: 200px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: white;
}
.btn-3{
	width: 120px;
	margin: 0 0 0 0;
	padding: 5px 45px 5px 20px;
	line-height: 1.3em;
	font-size: 15px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	color: #211f1f;
	background: url("../images/arrow_08.png") no-repeat right 30px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #2f856f;
	border: 2px solid #2f856f;
}
.btn-4{
	width: 120px;
	margin: 0 0 0 0;
	padding: 5px 45px 5px 20px;
	line-height: 1.3em;
	font-size: 15px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	background: url("../images/arrow_01.png") no-repeat right 30px center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: 2px solid #d3d8db;
}
.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover{
	opacity: 0.6;
	text-decoration: none;
}


/*** セレクトタグ調整 ***/
select.txt_w120 {
	-webkit-appearance: menulist-button;
	padding: 0 10px;
	width: 120px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*************************
*チェックテスト(check-)
**************************/
.tb01.checktest-table td:nth-child(1),
.tb01.checktest-table td:nth-child(n + 3){
	width: 10%;
}

.tb01.checktest-table td:nth-child(2){
	width: 60%;
	text-align: left;
}

.tb01.checkresult-table td:nth-child(2){
	width: 60%;
	text-align: left;
	padding-left: 20px;
}

.tb01.checkresult-table tfoot td{
	border-bottom: none;
	text-align: left;
}
/*************************
*サロンメニュー saron
**************************/
.tea-profile{
	position: relative;
}
.tea-profile-image {
	margin-right: 20px;
}
.tea-profile-image p{
	position: absolute;
	right: 0;
	bottom: -150px;
}
.tb02.tea-table td{
	width: 80%;
}

/*************************
*お問い合わせ(inquiry-)
**************************/

.tb01.inquiry-table td:nth-child(2){
	width: 80%;
	text-align: left;
	padding-left: 20px;
}

/*************************
*サイトマップ(sitemap-)
**************************/

.post .sitemap-box{
	text-align: left;
	width: 48%;
}

/*************************
*掲載メディア(media)
**************************/
.post .media table tbody tr th{
	width: 11%;
}

.post .media table tbody tr td:nth-child(2),
.post .media table tbody tr td:nth-child(3){
	width: 40%;
}

/*************************
*プライバシーポリシー
**************************/

.privacy{
	text-align: left;
}

.privacy .privacy-box1 li{
	margin-top: 20px;
}

.post .privacy .privacy-box2 ol:nth-child(1){
	margin-left: 20px;
}

/*************************
*ポップアップ(popupimage)
**************************/
.header_popupimage .wrap h1{
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	color: #015f4f;
}

.concept_box.concept_popupimage img{
	position: relative;
	right: 120px;
}

.side_poupimage{
	position: relative;
}

.side_popupimage img{
	position: absolute;
	left: 0;
}
/*************************
*プロフィール
**************************/

.side_profile p{
	text-align: center;
	padding: 10px;
}

.tb01.profile-table p{
	text-align: left;
}

.tb02.profile-table2 td:nth-child(2){
	width: 80%;
}

/*************************
*プロフィール
**************************/

.post table.tb02.orgnizer-table1 tr th{
	width: 10%;
}

.post table.tb02.orgnizer-table1 tr td:nth-child(2){
	width: 40%;
}

.post table.tb01 tr td.is-width-half,
.post table.tb02 tr td.is-width-half{
	width: 50%;
}
.post table.tb01.orgnizer-table2 tr td:nth-child(1){
	width: 10%;
}
.post table.tb01.orgnizer-table2 tr td:nth-child(2),
.post table.tb01.orgnizer-table3 tr th,
.post table.tb01.orgnizer-table3 tr td{
	text-align: left;
}

.post table.tb01.partner-table tr td:nth-child(2){
	width: 30%;
	text-align: left;
}

.post table.orgnizer-table3{
	margin-bottom: 20px;
}

/*********************
*ボタンのサイズ変更 -btn
*掲載メディアのリンク
*CSSのパーツ化
*行間をそろえる。
*
**********************/