@charset "UTF-8";

/**
 *
 * 汎用スタイルシート
 *
**/


/**
 * SP表示
**/
.sp_disp { display: none !important; }

/**
 * ライン
**/

hr.line {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	height: 0;
	line-height: 0;
	border: none;
	border-bottom: 2px solid #b6b6b6;
	clear: both;
}


/**
 * フォントファミリー
**/

.mincho { 	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important; }


/**
 * フォントカラー
**/

.red { color: #ff0000; }
.green { color: #00cc00; }
.blue { color: #0000ff; }

/**
 * リンクテキスト
**/

.link_text a { text-decoration: underline; }
.link_text a:hover { text-decoration: none; }

/**
 * フォントウェイト
**/

.bold { font-weight: bold; }

/**
 * フォントサイズ
**/

.font10 { font-size: 10px !important; }
.font11 { font-size: 11px !important; }
.font12 { font-size: 12px !important; }
.font13 {
	line-height: 150% !important;
	font-size: 13px !important;
}
.font14 {
	line-height: 150% !important;
	font-size: 14px !important;
}
.font15 {
	line-height: 150% !important;
	font-size: 15px !important;
}
.font16 {
	line-height: 150% !important;
	font-size: 16px !important;
}
.font17 {
	line-height: 150% !important;
	font-size: 17px !important;
}
.font20 {
	line-height: 150% !important;
	font-size: 20px !important;
}
.font24 {
	line-height: 150% !important;
	font-size: 24px !important;
}


/**
 * テキストアライン
**/

.txt_right { text-align: right !important; }
.txt_left { text-align: left !important; }
.txt_center { text-align: center !important; }
.txt_center img {
	margin-left: auto !important;
	margin-right: auto !important;
}

/**
 * テキストインデント
**/

.txt_indent { text-indent: 1em; }


/**
 * マージン
**/

/* マージントップ */
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }

/* マージンボトム */
.mb00 { margin-bottom: 0px !important; }
.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }

/* マージンレフト */
.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }

/* マージンライト */
.mr05 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }


/**
 * フロート
**/

.fl { float: left; }
.fr { float: right; }


/**
 * ワイド
**/

.w50 { width: 50px !important; }
.w100 { width: 100px !important; }
.w150 { width: 150px !important; }
.w200 { width: 200px !important; }
.w250 { width: 250px !important; }
.w300 { width: 300px !important; }
.w350 { width: 350px !important; }

.w80p { width: 80% !important; }

/**
 * テキスト入力フィールド
**/

input.txt_w100 {
	padding: 0 10px;
	width: 100px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.txt_w300 {
	padding: 0 10px;
	width: 300px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.txt_w400 {
	padding: 0 10px;
	width: 400px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.txt_w480 {
	padding: 0 10px;
	width: 480px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

textarea.textarea_w600 {
	padding: 10px;
	width: 600px;
	height: 140px;
	line-height: 1.8em;
	font-size: 14px;
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/**
 * クリア関連
**/

.clear {
	clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix { min-height: 1px !important; }
* html .clearfix { height: 1px !important; }


/**
 *
 * レイアウト、共通コンテンツ
 *
**/


/**
 * ラッパー
**/

#wrapper {
	padding: 0 0 0 0;
	overflow: hidden;
}


/**
 * ヘッダー
**/
#header {
	width: 100%;
	height: 60px;
	background: #ffffff;
}

#header img {
	display: block;
}

#header .wrap {
	margin: 0 auto;
	width: 970px;
	height: 60px;
	text-align: left;
	position: relative;
}

#header .wrap h1 {
	width: 114px;
	position: absolute;
	top: 20px;
	left: 48px;
	z-index: 1;
}

#header .wrap h1.home {
	left: 20px;
}

#header .wrap .event_link {
	width: 120px;
	position: absolute;
	top: 14px;
	right: 23px;
	z-index: 1;
}

#header .wrap .event_link a {
	padding: 0 20px 0 0;
	width: 100%;
	height: 30px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #2f856f;
	background: #ffffff url("../images/arrow_08.png") no-repeat 89px center;
	border: 2px solid #2f866f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}



/**
 * ナビゲーション
**/
#navi {
	position: absolute;
	top: 20px;
	left: 230px;
	z-index: 1;
}

#navi ul {
	overflow: hidden;
}

#navi ul li {
	margin: 0 60px 0 0;
	float: left;
	display: inline;
}

#navi ul li a {
	padding: 0 3px;
	line-height: 1.4em;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	letter-spacing: 1px;
	color: #0f1211;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 4px solid #ffffff;
	display: block;
}

#navi ul li a:hover {
	text-decoration: none;
	border-bottom: 4px solid #2f866f;
}

#navi ul li a.active {
	text-decoration: none;
	border-bottom: 4px solid #2f866f;
}


/**
 * ページタイトル
**/
#page_title {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 290px;
	background: url("../images/page_title_back_01.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	display: table;
}

#page_title h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 290px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#page_title h2 img {
	margin: auto;
	display: block;
}


#page_title.event {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 592px;
	background: url("../images/event_page_title_back_01.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	display: block;
}

#page_title.event h2 {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 970px;
	height: 592px;
	text-align: left;
	display: block;
	position: relative;
}

#page_title.event h2 img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: absolute;
	top: 196px;
	right: 0;
}


/**
 * メインイメージ
**/
#main_image {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 380px;
	background: url("../images/main_image_back.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#main_image img {
	display: block;
}

#main_image .wrap {
	margin: 0 auto;
	width: 970px;
	height: 380px;
}

#main_image .wrap .logo {
	margin: 37px 111px 0 0;
	float: right;
	display: inline;
}

#main_image .wrap .text {
	margin: 37px 53px 0 0;
	float: right;
	display: inline;
}


/**
 * コンテンツ
**/
#content {
	margin: 0 auto;
	padding: 42px 0 100px 0;
	width: 970px;
	text-align: left;
}

#content.event {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 100%;
	text-align: center;
}


/**
 * メインコンテンツ
**/
#main {
	width: 690px;
	float: right;
	display: inline;
}


/**
 * コンテンツ
**/
#side {
	width: 220px;
	float: left;
	display: inline;
}


/**
 * フッター
**/
#footer {
	padding: 50px 0 0 0;
	width: 100%;
	line-height: 1.4em;
	font-size: 14px;
	text-align: center;
	background: #fbfcfd;
	position: relative;
}

#footer .wrap {
	margin: 0 auto;
	padding: 0 0 60px 0;
	width: 970px;
	text-align: left;
	overflow: hidden;
}

#footer .wrap .info {
	margin: 0 0 0 27px;
	width: 380px;
	float: left;
	display: inline;
}

#footer .wrap .info .logo {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#footer .wrap .info .address {
	margin: 0 0 0 0;
	padding: 0 0 0 44px;
	line-height: 1.2em;
	font-size: 10px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
}

#footer .wrap .link {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 530px;
	float: right;
	display: inline;
}

#footer .wrap .link .box01 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 190px;
	float: left;
	display: inline;
}

#footer .wrap .link .box02 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 140px;
	float: left;
	display: inline;
}

#footer .wrap .link .box03 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 180px;
	float: left;
	display: inline;
}

#footer .wrap .link li {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	line-height: 1.4em;
	font-size: 13px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: right;
}

#footer .wrap .link li a {
	margin: 0 0 0 0;
	padding: 0 18px 0 0;
	background: url("../images/arrow_03.png") no-repeat right center;
}

#footer .copyright {
	line-height: 70px;
	font-size: 12px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #8b9493;
	background: #f3f6f7;
	clear: both;
}

#footer #pagetop {
	width: 69px;
	height: 70px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

#footer #pagetop img {
	display: block;
}


/**
 *
 * コンテンツ
 *
**/


/**
 * サイドコンテンツ
**/
.side_menu {
	
}

.side_menu li {
	border-top: 1px solid #e7edf0;
}

.side_menu li:nth-of-type(1) {
	border-top: none;
}

.side_menu li a {
	padding: 20px 20px 20px 0;
	line-height: 1.6em;
	font-size: 14px;
	color: #0f1211;
	background: url("../images/arrow_04.png") no-repeat right center;
	display: block;
}

.side_yokokura {
	width: 100%;
	height: 112px;
	position: relative;
}

.side_yokokura img {
	display: block;
	position: absolute;
	top: -65px;
	left: -91px;
}

.side_facebook {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
}

.side_facebook dt {
	margin: 0 0 1px 0;
	line-height: 30px;
	font-size: 13px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #0f1211;
	background: #e7edef;
}

.side_bnr {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	overflow: hidden;
}

.side_bnr img {
	display: block;
}

.side_bnr li {
	padding: 0 0 10px 0;
	float: left;
	display: inline;
	clear: both;
}


/**
 * 下層ページ
**/
.post {
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
	line-height: 1.8em;
	font-size: 16px;
	color: #21201e;
}

.post .title {
	margin: 0 0 52px 0;
	padding: 0 0 15px 0;
	background: url("../images/title_back_01.png") no-repeat center bottom;
}

.post .title h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.3em;
	font-size: 30px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #015f4f;
}

.post .tit01 {
	margin: 0 0 25px 0;
	padding: 8px;
	line-height: 1.3em;
	font-size: 18px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #ffffff;
	background: #2f866f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear: both;
}

.post .tit02 {
	margin: 0 0 30px 0;
	padding: 0 0 5px 0;
	line-height: 1.3em;
	font-size: 16px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	color: #2f866f;
	border-bottom: 2px solid #2f866f;
	clear: both;
}

.post .tit03 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	line-height: 1.5em;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color: #015f4f;
	clear: both;
}

.post .desc {
	margin: 0 0 0 0;
	padding: 0 0 45px 0;
	overflow: hidden;
}

.post .note {
	line-height: 1.4em;
	font-size: 13px;
	color: #898c89;
}

.post .image.fr {
	margin: 0 0 0 40px;
	display: inline;
}

.post .image.fl {
	margin: 0 40px 0 0;
	display: inline;
}

.post .link01 {
	margin: 0 0 15px 0;
}

.post .link01 a {
	margin: 0 0 0 0;
	padding: 0 30px 0 0;
	line-height: 1.3em;
	font-size: 15px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	color: #211f1f;
	background: url("../images/arrow_01.png") no-repeat right center;
}

.post .link02 {
	margin: 0 0 20px 0;
}

.post .link02 a {
	margin: 0 0 0 0;
	padding: 5px 45px 5px 20px;
	line-height: 1.3em;
	font-size: 15px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	color: #211f1f;
	background: url("../images/arrow_01.png") no-repeat right 24px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}

.post .link03 {
	margin: 0 auto 70px auto;
	width: 290px;
}

.post .link03 a {
	margin: 0 0 0 0;
	padding: 10px 60px 10px 25px;
	line-height: 1.3em;
	font-size: 22px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: left;
	color: #ffffff;
	background: #2f866f url("../images/arrow_02.png") no-repeat right 30px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
}

.post ul {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	line-height: 1.6em;
	font-size: 16px;
	color: #21201e;
}

.post ul li {
	margin: 0 0 15px 0;
	padding: 0 0 0 20px;
	background: url("../images/icon_01.png") no-repeat 0 8px;
}

.post .box01 {
	margin: 0 0 50px 0;
	padding: 15px;
	background: #edf9f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.post table {
	margin: 0 0 55px 0;
	width: 100%;
	line-height: 1.6em;
	font-size: 16px;
}

.post table th {
	padding: 10px 0;
	width: 25%;
	font-weight: bold;
	color: #2f856f;
}

.post table td {
	padding: 10px 0;
	width: 25%;
}

.post table.tb01 th {
	text-align: center;
	border-bottom: 2px solid #2f866f;
}

.post table.tb02 th {
	border-right: 2px solid #2f866f;
}

.post table.tb01 td {
	text-align: center;
	border-bottom: 1px solid #dadee0;
}

.post table.tb01 td.bold {
	text-align: left;
}

.post table.tb02 td {
	padding: 10px 0 10px 30px;
	border-right: 1px solid #dadee0;
}

.post table.tb02 tr td:nth-last-child(1) {
	border-right: none;
}

.post .large_image {
	padding: 40px 0 0 0;
}

.post .large_image img {
	display: block;
}


/**
 * ホーム
**/
.menu_box {
	margin: 0 0 0 0;
	padding: 0 0 45px 0;
}

.menu_box li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 220px;
	float: left;
	display: inline;
}

.menu_box li.link01 {
	margin: 0 0 0 -6px;
	padding: 0 0 0 0;
}

.menu_box li.link02 {
	margin: 0 0 0 24px;
	padding: 0 0 0 0;
}

.menu_box li.link03 {
	margin: 0 0 0 11px;
	padding: 0 0 0 0;
}

.menu_box li a {
	font-size: 16px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #0f1211;
	text-align: center;
	display: block;
}

.menu_box li a img {
	margin: 0 0 25px 0;
	display: block;
}

.menu_box li a .tit {
	padding: 0 15px 0 0;
	background: url("../images/arrow_07.png") no-repeat right center;
	display: inline-block;
}

.concept_box {
	margin: 0 0 0 0;
	padding: 0 0 60px 0;
	position: relative;
}

.concept_box h2 {
	margin: 0 0 30px 0;
	padding: 0 0 15px 0;
	line-height: 1.3em;
	font-size: 30px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #015f4f;
	background: url("../images/title_back_01.png") no-repeat center bottom;
}

.concept_box p {
	margin: 0 0 25px 0;
	padding: 0 0 0 0;
	line-height: 1.7em;
	font-size: 16px;
}

.concept_box .back01 {
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	z-index: -1;
}

.concept_box .back02 {
	display: block;
	position: absolute;
	bottom: 40px;
	right: -96px;
	z-index: -1;
}

.event_box {
	margin: 0 0 80px 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.event_box h2 {
	margin: 0 0 50px 0;
	padding: 0 0 15px 0;
	line-height: 1.3em;
	font-size: 30px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #015f4f;
	background: url("../images/title_back_01.png") no-repeat center bottom;
}

.event_box .event_link {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.event_box .event_link a {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 35px;
	font-size: 15px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #ffffff;
	background: #2f866f;
	display: block;
	overflow: hidden;
}

.event_box .event_link a .tit {
	width: 575px;
	text-align: center;
	float: left;
	display: block;
}

.event_box .event_link a .detail {
	width: 115px;
	background: #4a9b86 url("../images/arrow_06.png") no-repeat 77px center;
	text-align: center;
	float: right;
	display: block;
}

.event_box dl {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	line-height: 1.6em;
	font-size: 14px;
	border-bottom: 1px solid #d6cbb9;
	overflow: hidden;
}

.event_box dl dt {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	line-height: 1.6em;
	font-size: 18px;
	font-weight: bold;
	color: #015f4f;
}

.event_box dl dt a {
	color: #015f4f;
}

.event_box dl dd {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.event_box .more {
	margin: 0 0 0 0;
	padding: 20px 0 0 0;
	overflow: hidden;
}

.event_box .more a {
	margin: 0 0 0 0;
	padding: 0 0 0 27px;
	width: 170px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	background: url("../images/arrow_05.png") no-repeat 130px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: right;
}


.news_box {
	margin: 0 0 80px 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.news_box h2 {
	margin: 0 0 30px 0;
	padding: 0 0 15px 0;
	line-height: 1.3em;
	font-size: 30px;
	font-weight: normal;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	color: #015f4f;
	background: url("../images/title_back_01.png") no-repeat center bottom;
}

.news_box dl {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	line-height: 1.6em;
	font-size: 16px;
	border-bottom: 1px solid #d6cbb9;
	overflow: hidden;
}

.news_box dl dt {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 155px;
	font-weight: bold;
	color: #015f4f;
	float: left;
}

.news_box dl dd {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.media_box {
	margin: 0 0 60px 0;
	width: 690px;
	height: 256px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url("../images/media_back_01.png");
	position: relative;
}

.media_box .list {
	margin: 0 0 0 75px;
	padding: 31px 0 0 0;
	overflow: hidden;
}

.media_box .list li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 150px;
	line-height: 1.4em;
	font-size: 13px;
	color: #21201e;
	text-align: center;
	float: left;
	display: inline;
}

.media_box .list li img {
	margin: 0 auto 10px auto;
	display: block;
}

.media_box .list li .days {
	line-height: 1.4em;
	font-size: 12px;
}

.media_box .list li .name {
	line-height: 1.4em;
	font-size: 15px;
}

.media_box h3 {
	position: absolute;
	bottom: 0;
}

.media_box h3 img {
	display: block;
}

.media_box h3.tit01 {
	left: -5px;
}

.media_box h3.tit02 {
	left: -3px;
}


/**
 * イベント
**/

.event_schedule01 {
	margin: 0 0 0 0;
	padding: 75px 0 65px 0;
	overflow: hidden;
	clear: both;
}

.event_schedule01 h3 {
	margin: 0 0 20px 0;
	padding: 0 0 15px 0;
	line-height: 1.2em;
	color: #015f4f;
	font-size: 30px;
	font-weight: normal;
	background: url("../images/event_title_back_01.png") no-repeat center bottom;
}

.event_schedule01 .list {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 840px;
	text-align: left;
}

.event_schedule01 .list dl {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	width: 100%;
	line-height: 1.4em;
	font-size: 16px;
	border-bottom: 1px solid #d6cbb9;
	overflow: hidden;
}

.event_schedule01 .list dl dt {
	margin: 0 30px 0 0;
	padding: 0 0 0 0;
	font-weight: bold;
	color: #015f4f;
	float: left;
	display: inline;
}

.event_schedule01 .list dl dd {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #21201e;
	overflow: hidden;
}

.event_schedule01 .more {
	margin: 0 0 0 0;
	padding: 20px 0 0 0;
	overflow: hidden;
}

.event_schedule01 .more a {
	margin: 0 0 0 0;
	padding: 0 0 0 27px;
	width: 170px;
	height: 38px;
	line-height: 34px;
	font-size: 15px;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	color: #211f1f;
	background: url("../images/arrow_05.png") no-repeat 130px center;
	border: 2px solid #d3d8db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: right;
}


.event_schedule02 {
	margin: 0 0 0 0;
	padding: 75px 0 80px 0;
	background: #edf9f6;
	overflow: hidden;
	clear: both;
}

.event_schedule02 h3 {
	margin: 0 0 20px 0;
	padding: 0 0 15px 0;
	line-height: 1.2em;
	color: #015f4f;
	font-size: 30px;
	font-weight: normal;
	background: url("../images/event_title_back_01.png") no-repeat center bottom;
}

.event_schedule02 .list {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 840px;
	text-align: left;
}

.event_schedule02 .list dl {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	width: 100%;
	line-height: 1.4em;
	font-size: 16px;
	border-bottom: 1px solid #d6cbb9;
	overflow: hidden;
}

.event_schedule02 .list dl dt {
	margin: 0 30px 0 0;
	padding: 0 0 0 0;
	font-weight: bold;
	color: #015f4f;
	float: left;
	display: inline;
}

.event_schedule02 .list dl dd {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #21201e;
	overflow: hidden;
}

.evnet_info01 {
	margin: 0 0 0 0;
	padding: 0 0 70px 0;
	min-height: 310px;
	background: url("../images/event_image_01.png") no-repeat right bottom;
	overflow: hidden;
}

.evnet_info01 .desc {
	margin: 0 0 0 4%;
	width: 43.5%;
	line-height: 2.1em;
	font-size: 16px;
	color: #090c05;
	text-align: left;
	overflow: hidden;
}

.evnet_info01 .desc h3 {
	margin: 0 0 0 0;
	padding: 0 0 30px 0;
	line-height: 1.6em;
	font-size: 28px;
	font-weight: bold;
	color: #2f856f;
}

.evnet_info02 {
	margin: 0 0 0 0;
	padding: 50px 0 180px 0;
	min-height: 200px;
	background: url("../images/event_image_02.png") no-repeat left top;
	overflow: hidden;
}

.evnet_info02 .desc {
	margin: 0 4% 0 0;
	width: 43.5%;
	line-height: 2.1em;
	font-size: 16px;
	color: #090c05;
	text-align: left;
	float: right;
	display: inline;
	overflow: hidden;
}

.evnet_info03 {
	margin: 0 0 110px 0;
	padding: 80px 0 90px 0;
	text-align: center;
	background: url("../images/event_back_01.png");
	overflow: hidden;
}

.evnet_info03 .desc {
	margin: 0 auto 0 auto;
	width: 840px;
	line-height: 2.1em;
	font-size: 16px;
	color: #090c05;
	text-align: left;
	overflow: hidden;
}

.evnet_info03 .desc h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.6em;
	font-size: 28px;
	font-weight: bold;
	color: #2f856f;
	text-align: center;
}

.evnet_info03 .desc p {
	padding: 30px 0 0 0;
}

.evnet_info04 {
	margin: 0 0 0 0;
	padding: 0 0 50px 0;
	min-height: 370px;
	background: url("../images/event_image_03.png") no-repeat right bottom;
	overflow: hidden;
}

.evnet_info04 .desc {
	margin: 0 0 0 4%;
	width: 43.5%;
	line-height: 2.1em;
	font-size: 16px;
	color: #090c05;
	text-align: left;
	overflow: hidden;
}

.evnet_info04 .desc h3 {
	margin: 0 0 0 0;
	padding: 0 0 30px 0;
	line-height: 1.6em;
	font-size: 28px;
	font-weight: bold;
	color: #2f856f;
}

.evnet_info05 {
	margin: 0 0 0 0;
	padding: 100px 0 100px 0;
	min-height: 220px;
	background: url("../images/event_image_04.png") no-repeat left top;
	overflow: hidden;
}

.evnet_info05 .desc {
	margin: 0 4% 0 0;
	width: 43.5%;
	line-height: 2.1em;
	font-size: 16px;
	color: #090c05;
	text-align: left;
	float: right;
	display: inline;
	overflow: hidden;
}

.evnet_info06 {
	margin: 0 0 0 0;
	padding: 25px 0 150px 0;
	background: url("../images/event_image_05.png") no-repeat center bottom;
	overflow: hidden;
}

.evnet_info06 .desc {
	line-height: 3.4em;
	font-size: 16px;
	color: #090c05;
	text-align: center;
}

.evnet_info06 .desc h3 {
	margin: 0 0 0 0;
	padding: 0 0 35px 0;
	line-height: 1.6em;
	font-size: 28px;
	font-weight: bold;
	color: #2f856f;
}

